<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GGMail</title>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/newLogo.css">
    <link rel="stylesheet" href="../styles/receivedMessagesMain.css">
</head>
<body>

<header id="header">
    <div id="logo-global-div">
        <a href="receivedMessages.html" class="logo-link">
            <div id="logo-rectangle">
                <div class="G_button">G</div>
                <div class="G_button">G</div>
            </div>
        </a>
        <a href="receivedMessages.html" class="logo-link">
            <div id="logo-mail">Mail</div>
        </a>
    </div>
</header>

<main id="main">
    <div id="menu-buttons-div">
        <a href="receivedMessages.html" class="button" id="received-messages-button">
            <div class="button-div">
                <div class="button-text">Входящие</div>
                <div id="received-count">0</div>
            </div>
        </a>
        <a href="receivedMessages.html" class="button">
            <div class="button-div">
                <div class="button-text">Отправленные</div>
                <div id="send-count">0</div>
            </div>
        </a>
        <a href="receivedMessages.html" class="button">
            <div class="button-div">
                <div class="button-text">Черновики</div>
                <div>0</div>
            </div>
        </a>
        <a href="receivedMessages.html" class="button">
            <div class="button-div">
                <div class="button-text">Избранные</div>
                <div>0</div>
            </div>
        </a>
    </div>
    <div id="messages"></div>
    <script src="../scripts/ReceivedMessagesScript.js"></script>


</main>

<footer></footer>

</body>
</html>